* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f7f7f7;
}
.card {
  padding: 10px;
  border: 1px solid #646464;
  border-radius: 7px;
  background-color: #f7f7f7;
}
